*.ckpt
*.env
*.out
*.model
*.csv
*.mp4
*.npy
*.txt
*.xml
*.json
*.pkl
*.pickle
*.ipynb
*.tar
*.tar.gz
*__pycache__
logs/runs/
logs/wandb/
multirun/
data/
baseline/
tmp*
!requirements.txt
!packages.txt
